.form-buttons {
    display: flex;
    justify-content: space-evenly;
}

.add-btn {
    width: 100%;
    margin: 13% 1% 0 0;
}

h2 {
    margin: 1% 0 0 1%;
}

.emp-list-container {
    margin-top: 5%;
    font-size: medium;
}

.icons {
    cursor: pointer;
}

.delete-icon {
    color: #f32f2f;
}

.edit-icon {
    color: #4242c2;
}

.card-title-area {
    display: flex;
}

.button-actions {
    margin-left: 69%;
}

.image{
    height: 45px;
}