.create-card {
    text-align: left;
}

.create-inputs {
    padding: 2% !important;
}

.btn-div {
    margin-top: 2%;
}

.btn-div button {
    margin-right: 1%;
}

.form-card{
    margin-top: 3%;
    padding: 1%;
}